@import '../../../index';

$small-screen-height: $--small-height-screens - 1;

.toastProvider {
  margin-top: #{$--header-height}px;
  @media screen and (max-height: #{$small-screen-height}px) {
    margin-top: #{$--header-height-small}px;
  }
}
