@import '../../../../index';

$background-color: $--color-alpha-1;
$box-shadow-color: rgba(0, 0, 0, 0.1);

.networkMenu {
  background: $background-color;
  box-shadow: 0 4px 30px $box-shadow-color;
  border-radius: 20px;
  height: 100%;
  margin-top: 10px;
  padding: 30px 40px;

  .networkContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
