@import '../../../index';

.circle {
  margin: 0 10px 0 0;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),
    $--color-white;
  border-radius: 50%;
  display: flex;
}
