@import '../../../index';

$color: $--color-white;

.maxButton {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 15px;
  color: $color;
  cursor: pointer;
  z-index: 1;
  margin: 0 20px;
}
