@import '../../../../index';

.container {
  width: 100%;
  margin-bottom: 20px;

  .modalIconHeader {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    margin: 20px 0 -10px 0;
    color: $--color-dark-jungle-green;
    float: left;
    width: 100%;
  }
}
