@import '../../../../index';

.blockedAddressModal {
  color: $--color-black;
  margin: 0 auto 24px;
  line-height: 24px;

  .complianceEmailLink {
    color: $--color-orange-soda;
  }

  .compliance {
    margin-top: 20px;
  }
}
