@import '../../../index';

.multiChoiceMenu {
  .container {
    margin-top: 20px;
    border: 1px solid $--color-alpha-3;
    box-sizing: border-box;
    border-radius: 8px;
    overflow-x: auto;
  }
}
