@import '../../../index';

.alert {
  display: flex;
  background-color: $--color-white;
  border-radius: 7px;
  font-size: 14px;
  line-height: 20px;
  padding: 15px;

  .icon {
    width: 15%;
    display: flex;
    justify-content: space-around;
  }

  .text {
    display: flex;
    flex-direction: column;

    .title {
      font-weight: 500;
    }

    .message {
      font-weight: 400;
    }
  }

  &.success {
    border: 1px solid $--color-medium-aquamarine;

    .text {
      .title {
        color: $--color-philippine-green;
      }

      .message {
        color: $--color-spanish-green;
      }
    }
  }

  &.error {
    border: 1px solid $--color-light-salmon-pink;

    .text {
      .title {
        color: $--color-carnelian;
      }

      .message {
        color: $--color-vermilion;
      }
    }

    .icon {
      svg {
        path {
          stroke: $--color-vermilion;
        }
      }
    }
  }

  &.warning {
    border: 1px solid $--color-maize;

    .text {
      .title {
        color: $--color-rust;
      }

      .message {
        color: $--color-metallic-orange;
      }
    }

    .icon {
      svg {
        path {
          stroke: $--color-metallic-orange;
        }
      }
    }
  }

  &.info {
    border: 1px solid $--color-cadet-grey;

    .text {
      .title {
        color: $--color-charcoal;
      }

      .message {
        color: $--color-cadet-grey;
      }
    }

    .icon {
      svg {
        path {
          stroke: $--color-charcoal;
        }
      }
    }
  }
}
