@import '../../../index';

.alert {
  display: flex;
  background-color: $--color-white;
  border-radius: 7px;
  font-size: 14px;
  line-height: 20px;
  padding: 15px;

  .icon {
    width: 15%;
    display: flex;
    justify-content: space-around;
  }

  .text {
    display: flex;
    flex-direction: column;

    .title {
      font-weight: 500;
    }

    .message {
      font-weight: 400;
    }
  }

  &.success {
    border: 1px solid $--color-success;
    color: $--color-success;
  }

  &.error {
    border: 1px solid $--color-error;
    color: $--color-error;

    .icon {
      svg {
        path {
          stroke: $--color-error;
        }
      }
    }
  }

  &.warning {
    border: 1px solid $--color-warning;
    color: $--color-warning;

    .icon {
      svg {
        path {
          stroke: $--color-warning;
        }
      }
    }
  }

  &.info {
    border: 1px solid $--color-info;
    color: $--color-info;
  }
}
