@import '../../../../index';

.toastHeader {
  display: flex;
  justify-content: space-between;

  .title {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: $--color-black;
  }

  .close {
    cursor: pointer;
    margin-left: 30px;
  }
}
