@import '../../../../index';

$color-title: $--color-black;

.toastHeader {
  display: flex;
  margin-bottom: 5px;

  .title {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: $color-title;
  }

  .close {
    margin-left: 30px;
    cursor: pointer;
    margin-left: auto;
  }
}
