@import '../../../../index';

.toastHeader {
  display: flex;
  justify-content: space-between;

  .title {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: $--color-black;
  }

  .close {
    cursor: pointer;
  }
}
