@import '../../../index';

$background-color: $--color-alpha;

.bridge {
  display: flex;
  flex-direction: column;
  background: $background-color;
  border-radius: 20px;
  padding: 20px;
  width: 500px;
  max-height: 650px;
  margin: auto;
  transition: 0.3s ease-in-out;
}
