.bridge {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: 650px;
  margin: auto;
  transition: 0.3s ease-in-out;
  height: inherit;
  width: 500px;

  @media screen and (min-width: 769px) and (max-width: 1024px) {
    width: unset;
  }
}
