@import '../../../index';

.searchToken {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 8px;
  padding: 0 10px;
  border: 1px solid $--color-light-steel-blue;
  border-radius: 4px;

  svg {
    margin-right: 5px;
  }
}
