@import '../../../../index';

.onboardingModal {
  color: $--color-black;
  margin-bottom: 24px;

  h3 {
    color: $--color-indigo;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    margin: 0;
  }

  ul {
    text-align: left;
    margin: 20px 0;
    line-height: 24px;
    padding-left: 24px;
  }

  p {
    margin: 0;
  }
}
