@import '../../../../index';

$color: $--color-omega;
$error-color: $--color-error;

.modalBody {
  padding: 25px 0;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.03em;
  color: $color;
  white-space: break-spaces;
  overflow: hidden;
  text-overflow: ellipsis;

  &.error {
    color: $error-color;
  }
}
