@import '../../../index';

.tokenBalance {
  color: $--color-alpha-6;
  font-size: 14px;
  text-align: right;
  letter-spacing: 0.01em;

  .balanceRow {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;

    .balance {
      display: flex;
      line-height: 24px;
      color: $--color-white;

      .loading {
        margin: auto;
      }

      .symbol {
        margin-left: 5px;
      }
    }
  }

  &.isDisabled {
    opacity: 0.2;
  }

  &.loading {
    .balanceRow {
      .balance {
        .symbol {
          margin-left: 10px;
        }
      }
    }
  }
}
