@import '../../../../index';

.loginModal {
  .download {
    margin: 30px;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.01em;
    color: $--color-gainsboro;

    span {
      cursor: pointer;
      color: $--color-orange-soda;
      text-decoration: underline;
    }
  }
}
