@import '../../../index';

$height: $--header-height;
$height-small: $--header-height-small;
$background-color: $--color-alpha-5;
$chain-color: $--color-white-1;
$small-screen-height: $--small-height-screens - 1;

.header {
  height: #{$height}px;
  @media screen and (max-height: #{$small-screen-height}px) {
    height: #{$height-small}px;
  }
  border-bottom: 1px solid transparent;
  justify-content: space-between;
  padding: 0 20px;
  background: $background-color;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.05);
  transition: 0.3s ease-in-out;

  .left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 20px;

    .logo {
      transition: 0.3s ease-in-out;
      cursor: pointer;

      svg {
        width: 220px;
        height: 46px;
        @media screen and (max-width: 768px), screen and (max-height: #{$small-screen-height}px) {
          width: 150px;
          height: 30px;
        }
      }
    }

    .chain {
      transition: 0.3s ease-in-out;
      color: $chain-color;
      font-size: 13px;
      font-weight: 500;
      opacity: 0.6;
      text-transform: capitalize;
    }
  }

  .right {
    button {
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }
}
