@import '../../../index';

.multiChoiceMenu {
  background: $--color-space-cadet;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 16px;

  .content {
    padding: 24px 32px;

    p {
      font-size: 12px;
      color: $--color-white;
      opacity: 0.7;
    }

    .title {
      margin-bottom: 24px;
      font-weight: 600;
      font-size: 24px;
      line-height: 29px;
      text-align: center;
      letter-spacing: 0.01em;
      color: $--color-white;
    }
  }
}

.separator {
  height: 1px;
  width: 100%;
  background: $--color-indigo;
}
