@import '../../../index';

.errorMsg {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: $--color-jasper;
  margin-top: 8px;
}

.bridgeIsFullReadMore {
  font-size: 12px;
  color: $--color-very-light-azure;
  line-height: 18px;
}
