@import '../../../index';

.tokenSelector {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: $--color-white;
  cursor: pointer;
  background: $--color-dark-slate-blue;
  border-radius: 8px;
  padding: 8px;

  .tokenSelectorIcon {
    margin: 0 -2px 0 6px;
  }
}
