@import '../../../index';

.footer {
  font-size: 13px;
  height: #{$--footer-height}px;
  border-top: 1px solid transparent;

  .copyright {
    color: $--color-beta;
    display: flex;
    font-size: 12px;
    line-height: 24px;
    margin: auto;
  }
}
