@import '../../../index';

$color: $--color-white;
$active-color: $--color-beta;
$font: $--primary-font;
$background-question: $--color-alpha-3;

.faq {
  color: $color;
  max-height: 500px;
  overflow-y: auto;
  text-align: left;
  line-height: 1.6;

  ol {
    padding-inline-start: 20px;
    margin-block-start: 0;
    padding-right: 16px;

    .question {
      position: relative;
      margin-bottom: 40px;

      &::marker {
        font-size: 18px;
        font-weight: 600;
      }

      & * {
        position: relative;
        z-index: 1;
      }

      .answer {
        &::before {
          content: '';
          position: absolute;
          display: block;
          z-index: 0;
          top: -10px;
          left: -20px;
          width: 486px;
          height: calc(100% + 20px);
          background-color: $background-question;
          border-radius: 7px;
        }
      }
    }
  }
}
