@import '../../../../index';

$color: $--color-gamma-1;
$border-color: $--color-gamma-1;
$color-hover: $--color-gamma;
$border-color-hover: $--color-gamma;
$path-fill-color-hover: $--color-gamma;

.linkButton {
  color: $color;
  padding: 3px 10px;
  border-radius: 7px;
  border-color: $border-color;
  border-style: solid;
  border-width: 1px;
  font-size: 12px;
  margin: 10px 10px 10px 0;
  text-transform: capitalize;
  display: inline-block;
  cursor: pointer;

  svg {
    margin-left: 5px;
  }

  &:hover {
    color: $color-hover;
    border-color: $border-color-hover;

    svg {
      path {
        fill: $path-fill-color-hover;
      }
    }
  }
}
