@import '../../../index';

.selectTokenRow {
  cursor: pointer;

  &.isLoading {
    pointer-events: none;
  }

  hr {
    border-color: rgba(255, 255, 255, 0.05);
  }

  &:first-child {
    hr {
      display: none;
    }
  }

  .data {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: nowrap;
    align-items: center;

    .left {
      display: flex;
      align-items: center;

      .symbol {
        color: $--color-white;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        text-transform: uppercase;
        transition: 0.4s ease-in-out;
        margin: 3px 0;
      }

      .name {
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        color: $--color-ceil;
        text-transform: capitalize;
        transition: 0.4s ease-in-out;
      }
    }

    .right {
      margin: 0 10px;

      .balance {
        float: right;
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        color: $--color-ceil;
        text-transform: uppercase;
        transition: 0.4s ease-in-out;
      }
    }
  }

  &:hover {
    .data {
      .left {
        .name {
          color: $--color-white;
        }
      }

      .right {
        .balance {
          color: $--color-white;
        }
      }
    }
  }
}
