$--breakpoint-mobile: 0;
$--breakpoint-tablet: 768;
$--breakpoint-laptop: 963;
$--breakpoint-desktop: 1280;

:export {
  MOBILE: $--breakpoint-mobile;
  TABLET: $--breakpoint-tablet;
  LAPTOP: $--breakpoint-laptop;
  DESKTOP: $--breakpoint-desktop;
}
