$--color-white: #fff;
$--color-black: #000;
$--color-gainsboro: #d3dae3;
$--color-gainsboro-1: #d5d9eb;
$--color-space-cadet: #16184e;
$--color-space-cadet-1: #1c1e52;
$--color-space-cadet-2: #23255b;
$--color-space-cadet-3: #16184e;
$--color-indigo: #292c6c;
$--color-dark-slate-blue: #3f4183;
$--color-american-blue: #3b3e76;
$--color-purple-navy: #494a81;
$--color-ube: #8b8dc2;
$--color-ceil: #999bc5;
$--color-toolbox: #717bbc;
$--color-light-steel-blue: #b3b8db;
$--color-very-light-azure: #69b7f9;
$--color-dodger-blue: #1595ff;
$--color-granite-gray: #5f666c;
$--color-auro-metal-saurus: #667085;
$--color-spanish-green: #039855;
$--color-philippine-green: #027a48;
$--color-medium-aquamarine: #6ce9a6;
$--color-mint-cream: #f6fef9;
$--color-cadet-grey: #475467;
$--color-charcoal: #344054;
$--color-jasper: #da4646;
$--color-carnelian: #b42318;
$--color-vermilion: #d92d20;
$--color-light-salmon-pink: #fda29b;
$--color-snow: #fffbfa;
$--color-carmine-pink: #e74c3c;
$--color-orange-soda: #f6643c;
$--color-flame: #e74f25;
$--color-rust: #b54708;
$--color-metallic-orange: #dc6803;
$--color-milk: #fffcf5;
$--color-maize: #fec84b;
$--color-very-light-blue: #5865f2;
$--color-dark-blue-gray: #65668c;
$--color-brilliant-azure: #4295f7;
$--color-international-orange-aerospace: #ff4f0a;
$--color-dark-jungle-green: #101828;

:export {
  colorBlack: $--color-black;
  colorWhite: $--color-white;
  colorGainsboro: $--color-gainsboro;
  colorSpaceCadet: $--color-space-cadet;
  colorSpaceCadet2: $--color-space-cadet-2;
  colorOrangeSoda: $--color-orange-soda;
  colorJasper: $--color-jasper;
  colorIndigo: $--color-indigo;
  colorDarkSlateBlue: $--color-dark-slate-blue;
  colorToolbox: $--color-toolbox;
  colorGraniteGray: $--color-granite-gray;
  colorAuroMetalSaurus: $--color-auro-metal-saurus;
  colorVeryLightBlue: $--color-very-light-blue;
  colorWhiteOp10: rgba($--color-white, 0.1);
  colorWhiteOp20: rgba($--color-white, 0.2);
  colorLightSteelBlue: $--color-light-steel-blue;
  colorVeryLightAzure: $--color-very-light-azure;
  colorDodgerBlue: $--color-dodger-blue;
  colorFlame: $--color-flame;
  colorDarkBlueGray: $--color-dark-blue-gray;
  colorBrilliantAzure: $--color-brilliant-azure;
  colorInternationalOrangeAerospace: $--color-international-orange-aerospace;
}
