$--color-white: #fff;
$--color-white-1: #d3dae3;
$--color-white-2: #d3dae3ff;
$--color-white-op-10: rgba(255, 255, 255, 0.1);
$--color-white-op-20: rgba(255, 255, 255, 0.2);
$--color-white-op-50: rgba(255, 255, 255, 0.5);
$--color-black: #000;
$--color-alpha: #15174e;
$--color-alpha-1: #1c1e52;
$--color-alpha-2: #23255b;
$--color-alpha-3: #292c6c;
$--color-alpha-4: rgba(59, 62, 118, 0.56);
$--color-alpha-5: #3e4080;
$--color-alpha-5-hover: #494a81;
$--color-alpha-6: #8b8dc2;
$--color-alpha-6-hover: #999bc5;
$--color-alpha-7: #16174d;
$--color-alpha-8: #b3b8db;
$--color-beta: #f6643c;
$--color-beta-1: rgba(246, 100, 60, 0.56);
$--color-gamma: #69b7f9;
$--color-gamma-1: #1595ff;
$--color-omega: #5f666c;
$--color-omega-1: #667085;
$--color-success: #039855;
$--color-error: #da4646;
$--color-error-2: #e74c3c;
$--color-discord: #5865f2;

:export {
  colorBlack: $--color-black;
  colorWhite: $--color-white;
  colorWhite1: $--color-white-1;
  colorBeta: $--color-beta;
  colorError: $--color-error;
  colorAlpha: $--color-alpha;
  colorAlpha2: $--color-alpha-2;
  colorAlpha3: $--color-alpha-3;
  colorAlpha4: $--color-alpha-4;
  colorAlpha5: $--color-alpha-5;
  colorAlpha8: $--color-alpha-8;
  colorOmega: $--color-omega;
  colorOmega1: $--color-omega-1;
  colorDiscord: $--color-discord;
  colorWhiteOp10: $--color-white-op-10;
  colorWhiteOp20: $--color-white-op-20;
  colorWhiteOp50: $--color-white-op-50;
  colorGamma: $--color-gamma;
  colorGamma1: $--color-gamma-1;
}
