@import '../../../../index';

$background-color: $--color-white;
$left-background-color: $--color-white-2;

.CompleteTransferToL1Toast {
  width: 350px;
  background: $background-color;
  box-shadow: 0 12px 16px -4px rgba(16, 24, 40, 0.1), 0px 4px 6px -2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;

  .container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;

    .left {
      width: 56px;
      background: $left-background-color;
      border-radius: 8px 0 0 8px;
    }

    .right {
      border-radius: 0 8px 8px 0;
      padding: 10px 20px;
    }
  }
}
