@import '@styles';

.modalText {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.03em;
  max-width: inherit;
  text-align: center;

  .wrap {
    float: left;
    position: relative;
    left: 50%;
    max-width: inherit;

    .content {
      float: left;
      position: relative;
      left: -50%;
      max-width: inherit;
    }
  }
}
