@import '../../../index';

.multiChoiceItem {
  display: flex;
  padding: 16px 12px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  align-items: center;
  justify-content: space-between;
  border: 1px solid $--color-alpha-3;
  box-sizing: border-box;
  border-radius: 8px;

  &:not(:last-child) {
    margin-bottom: 8px;
  }

  &.isDisabled {
    pointer-events: none;
    opacity: 0.2;
  }

  .left {
    display: flex;
    align-items: center;

    .text {
      display: flex;
      flex-direction: column;
      margin-left: 8px;

      .title {
        font-weight: 500;
        font-size: 14px;
        display: flex;
        align-items: center;
        line-height: 20px;
        color: $--color-white;
      }

      .description {
        font-size: 12px;
        display: flex;
        align-items: center;
        color: $--color-alpha-9;
        line-height: 150%;
      }
    }
  }

  .icon {
    margin-left: 30px;

    svg {
      transition: 0.3s ease-in-out;
    }
  }

  &:hover {
    background: $--color-alpha-1;
    box-sizing: border-box;
    border-radius: 8px;
  }
}

.separator {
  display: none;

  &:not(:last-child) {
    display: block;
    height: 1px;
    width: 100%;
    background: $--color-alpha-3;
  }
}
