@import '../../../index';

.button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 14px;
  border: 1px solid;
  box-sizing: border-box;
  border-radius: 7px;
  margin: 10px 0;
  padding: 20px 15px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  line-height: 1.2;

  &.isDisabled {
    pointer-events: none;
    opacity: 0.3;
  }

  &.isLoading {
    pointer-events: none;
  }

  img,
  svg {
    margin-right: 10px;
  }

  &[class~='wallet-btn'] {
    width: 170px;

    @media screen and (min-width: #{$--breakpoint-desktop}px) {
      width: 220px;
    }
  }
}
