@import '../../../index';

.button {
  font-family: $--primary-font;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  border: 1px solid;
  box-sizing: border-box;
  border-radius: 7px;
  margin: 10px 0;
  padding: 20px 15px;
  cursor: pointer;
  transition: 0.3s ease-in-out;

  &.isDisabled {
    pointer-events: none;
    opacity: 0.3;
  }

  &.isLoading {
    pointer-events: none;
  }

  img,
  svg {
    margin-right: 10px;
  }
}
