@import '../../index';

.faq {
  transition: 0.3s ease-in-out;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  .titleContainer {
    padding: 80px 0 60px 0;
    text-align: center;

    > div {
      margin: 20px;
    }

    .title {
      font-size: 46px;
      line-height: 44px;
    }

    .subtitle {
      font-weight: 400;
      font-size: 26px;
      line-height: 30px;
      color: #667085;
    }
  }

  .container {
    .divider {
      margin: 50px 0;
      height: 1px;
      width: 100%;
      background: $--color-alpha-1;
    }

    .questionContainer {
      display: flex;

      .icon {
        cursor: pointer;
        margin-top: 5px;
        margin-right: 15px;
      }

      .question {
        font-weight: 700;
        font-size: 24px;
      }
    }

    .answer {
      transition: 0.3s ease-in-out;
      font-style: normal;
      font-weight: 400;
      font-size: 22px;

      li {
        line-height: 32px;
      }
    }
  }
}
