@import '../../index';

.faq {
  ol {
    line-height: 1.6;
    padding-inline-start: 20px;
    margin-block-start: 0;
    padding-right: 16px;

    .question {
      position: relative;

      &:not(:last-child) {
        margin-bottom: 60px;
      }

      &::marker {
        font-size: 24px;
        font-weight: 600;
      }

      h2 {
        letter-spacing: 0.7px;
      }

      & * {
        position: relative;
        z-index: 1;
      }
    }
  }
}
