@import '../../../index';

.backButton {
  display: flex;
  align-items: center;
  font-size: 14px;
  text-transform: capitalize;
  color: $--color-alpha-6;
  margin: 20px 0;
  cursor: pointer;
  transition: 0.3s ease-in-out;

  svg {
    margin-right: 7px;
  }

  &:hover {
    color: $--color-alpha-6-hover;

    svg {
      path {
        fill: $--color-alpha-6-hover;
      }
    }
  }
}
