@import '../../../index';

.backButton {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-transform: capitalize;
  color: $--color-ube;
  margin: 8px 0;
  cursor: pointer;
  transition: 0.3s ease-in-out;

  svg {
    margin-right: 7px;
  }

  &:hover {
    color: $--color-ceil;

    svg {
      path {
        fill: $--color-ceil;
      }
    }
  }
}
