@import '../../../index';

.transfer {
  transition: 0.3s ease-in-out;

  .tabsContainer {
    display: flex;
    background: $--color-alpha-1;
    border-radius: 10px;
    padding: 10px;
  }

  .errorMsg {
    font-size: 14px;
    line-height: 20px;
    color: $--color-error;
  }

  .readMore {
    color: $--color-gamma;
    text-decoration: none;
    margin: 5px;
  }
}
