@import '../../../index';

$background-color: $--color-alpha-1;
$error-msg-color: $--color-error;

.transfer {
  .tabsContainer {
    display: flex;
    background: $background-color;
    border-radius: 10px;
    padding: 10px;
  }

  .errorMsg {
    font-size: 12px;
    line-height: 24px;
    color: $error-msg-color;
  }
}
