@import '../../../index';

.transferLogContainer {
  color: $--color-white;
  padding: 16px 0 16px 16px;
  border-radius: 8px;
  border: 1px solid $--color-indigo;
  margin: 16px 0;

  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 8px;
    padding-right: 16px;
  }

  .empty {
    color: $--color-gainsboro;
    font-size: 12px;
    opacity: 0.3;
  }

  .viewMore {
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    overflow-y: auto;

    span {
      cursor: pointer;
      text-transform: capitalize;
      color: $--color-dodger-blue;
    }
  }

  .overflow {
    max-height: 306px;
    overflow-y: auto;
    padding-right: 8px;
    margin-right: 8px;
    margin-top: 8px;
  }

  .logsContainer {
    margin-top: 8px;
    border: 1px solid $--color-indigo;
    border-radius: 8px;
  }
}
