@import '../../../index';

.transferLogContainer {
  color: $--color-white;
  padding: 13px;
  border-radius: 7px;
  border-color: $--color-alpha-3;
  border-style: solid;
  border-width: 2px;
  margin: 10px 0;
  overflow-y: auto;
  max-height: 300px;

  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    line-height: 16px;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 10px;
  }

  .empty {
    color: $--color-white-1;
    font-size: 12px;
    opacity: 0.3;
  }

  .viewMore {
    font-size: 12px;

    span {
      cursor: pointer;
      text-transform: capitalize;
      color: $--color-gamma-1;
    }
  }
}
