@import '../../../index';

.accountAddress {
  background: $--color-indigo;
  color: $--color-gainsboro;
  padding: 7px 10px 7px 15px;
  border-radius: 7px;
  font-size: 16px;
  margin: 20px 0 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  svg {
    cursor: pointer;

    &:hover {
      path {
        stroke: $--color-very-light-azure;
      }
    }
  }
}

.copiedMsg {
  opacity: 0;
  transition: 0.3s ease-in-out;
  color: $--color-dodger-blue;
  font-size: 13px;
  float: right;
  text-transform: capitalize;

  &.copied {
    opacity: 1;
  }
}
