@import '../../../index';

.linkButton {
  color: $--color-dodger-blue;
  padding: 3px 10px;
  border-radius: 7px;
  border-color: $--color-dodger-blue;
  border-style: solid;
  border-width: 1px;
  font-size: 12px;
  text-transform: capitalize;
  display: inline-block;
  cursor: pointer;
  margin: 10px 0 10px 10px;

  &.isDisabled {
    opacity: 0.3;
    pointer-events: none;
  }

  svg {
    margin-left: 5px;
  }

  &:hover {
    color: $--color-very-light-azure;
    border-color: $--color-very-light-azure;

    svg {
      path {
        fill: $--color-very-light-azure;
      }
    }
  }
}
