@import '../../../../index';

$color: $--color-omega;

.toastFooter {
  margin-bottom: 5px;
  display: flex;
  flex-flow: column nowrap;
}

.transferLogLink {
  cursor: pointer;
  font-size: 11px;
  line-height: 18px;
  color: $color;
  width: 114px;
  text-decoration: underline;
  align-self: flex-end;
}
