@import '../../../index';

$color: $--color-white;
$network-color: $--color-beta;

.selectToken {
  padding: 0 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  max-height: 100%;

  .background {
    content: '';
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.05;
    pointer-events: none;
  }

  .loadingContainer {
    margin: 50px auto;
  }

  .name {
    display: flex;
    justify-content: space-between;
  }
}
