@import '../../../../index';

$background-color: $--color-alpha-1;
$color: $--color-white;
$active-background-color: $--color-alpha-4;
$active-box-shadow-color: rgba(0, 0, 0, 0.1);

.transferMenuTab {
  background: $background-color;
  border-radius: 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: $color;
  padding: 5px;
  text-align: center;
  width: 100%;
  text-transform: capitalize;
  cursor: pointer;
  transition: 0.3s ease-in-out;

  &.isActive {
    background: $active-background-color;
    box-shadow: 0 4px 10px $active-box-shadow-color;
  }
}
