@import '../../../index';

.badge {
  background: $--color-gamma;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 10px;
  line-height: 24px;
  padding: 0 10px;
  margin-bottom: 15px;
  width: fit-content;

  &.isDisabled {
    opacity: 0.2;
  }
}
