@import '../../../index';

$background-color: $--color-gamma;

.badge {
  background: $background-color;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 10px;
  line-height: 24px;
  display: inline-block;
  padding: 0 10px;
  margin-bottom: 15px;
}
