@import '../../../index';

.badge {
  background: $--color-gamma;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 10px;
  line-height: 16px;
  padding: 0 4px;
  margin-bottom: 6px;
  width: fit-content;

  &.isDisabled {
    opacity: 0.2;
  }
}
