@import '../../../../index';

$background-color: $--color-alpha-3;
$color: $--color-white-1;
$path-stroke-color-hover: $--color-gamma;
$msg-color: $--color-gamma-1;

.accountAddress {
  background: $background-color;
  color: $color;
  padding: 7px 10px 7px 15px;
  border-radius: 7px;
  font-size: 16px;
  margin: 20px 0 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  svg {
    cursor: pointer;

    &:hover {
      path {
        stroke: $path-stroke-color-hover;
      }
    }
  }
}

.copiedMsg {
  opacity: 0;
  transition: 0.3s ease-in-out;
  color: $msg-color;
  font-size: 13px;
  float: right;
  text-transform: capitalize;

  &.copied {
    opacity: 1;
  }
}
