@import '../../../../index';

$error-color: $--color-error;

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  .container {
    svg {
      cursor: pointer;
      float: right;
    }
  }

  &.error {
    color: $error-color;
  }
}
