@import '../../../index';

.tokenInput {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: $--color-alpha-2;
  height: 50px;
  margin: 8px 0;
  padding: 8px;
  border-radius: 7px;
  transition: 0.3s ease-in-out;

  &.hasError {
    margin: 20px 0 10px 0;
    border-color: $--color-error;
    border-style: solid;
    border-width: 1px;
  }
}
