.walletButton {
  border-width: 2px;
  width: unset;

  img {
    margin-right: 0;
  }

  &.mobile {
    width: 50px;
  }

  &.desktop {
    width: unset;
    font-size: 16px;

    img {
      margin-right: 10px;
    }
  }
}
