@import '../../../index';

.sideButton {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: $--color-beta;
  border: 1px solid $--color-discord;
  padding: 20px 8px;
  border-radius: 7px 0 0 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
