@import '../../../index';

.sideButton {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: $--color-orange-soda;
  padding: 20px 8px;
  border-radius: 7px 0 0 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
