.toastButtons {
  display: flex;
  padding: 10px 0;
}

.toastButton {
  cursor: pointer;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;

  &:not(:first-child) {
    margin-left: 10px;
  }
}
