@import './styles/variables.module';
@import './styles/colors.module';
@import './styles/fonts.module';

@font-face {
  font-family: Inter;
  font-weight: 100;
  font-style: normal;
  src: url('assets/fonts/Inter/Inter-Thin.ttf') format('truetype');
}

@font-face {
  font-family: Inter;
  font-weight: 200;
  font-style: normal;
  src: url('assets/fonts/Inter/Inter-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: Inter;
  font-weight: 300;
  font-style: normal;
  src: url('assets/fonts/Inter/Inter-Light.ttf') format('truetype');
}

@font-face {
  font-family: Inter;
  font-weight: 400;
  font-style: normal;
  src: url('assets/fonts/Inter/Inter-Regular.ttf') format('truetype');
}

@font-face {
  font-family: Inter;
  font-weight: 500;
  font-style: normal;
  src: url('assets/fonts/Inter/Inter-Medium.ttf') format('truetype');
}

@font-face {
  font-family: Inter;
  font-weight: 600;
  font-style: normal;
  src: url('assets/fonts/Inter/Inter-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: Inter;
  font-weight: 700;
  font-style: normal;
  src: url('assets/fonts/Inter/Inter-Bold.ttf') format('truetype');
}

@font-face {
  font-family: Inter;
  font-weight: 800;
  font-style: normal;
  src: url('assets/fonts/Inter/Inter-ExtraBold.ttf') format('truetype');
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: $--primary-font;
  background-color: $--color-alpha-3;
  transition: 0.3s;
}

.center {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.row {
  display: flex;
  align-items: center;
}

::-webkit-scrollbar-track {
  border-radius: 7px;
  box-shadow: inset 0 0 30px $--color-alpha;
}

::-webkit-scrollbar-thumb {
  border-radius: 7px;
  background: $--color-alpha-6;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

::-webkit-scrollbar {
  max-width: 7px;
  max-height: 7px;
}

.MuiStep-root {
  .MuiSvgIcon-root {
    &.Mui-completed,
    &.Mui-active {
      color: $--color-alpha !important;
    }
  }
}

.MuiLinearProgress-root {
  background-color: rgba($--color-beta, 0.3) !important;

  .MuiLinearProgress-bar {
    background-color: $--color-beta !important;
  }
}
