@import '../../../index';

.multiChoiceErrorMessage {
  text-align: center;
  margin-top: 20px;
  line-height: 20px;
  padding: 7px;
  font-size: 15px;
  font-weight: 500;
  border: 1px solid $--color-jasper;
  color: $--color-jasper;
  background-color: $--color-white;
  border-radius: 7px;
}
