@import '../../../index';

.tokenSelector {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 15px;
  color: $--color-ube;
  text-transform: capitalize;
  cursor: pointer;
  padding: 10px 5px 10px 15px;
  background: $--color-dark-slate-blue;
  border-radius: 7px;
  transition: 0.3s ease-in-out;

  &:hover {
    color: $--color-ceil;
    background: $--color-purple-navy;
  }
}
