@import '../../../index';

.tab {
  display: flex;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: $--color-white;
  cursor: pointer;

  &.isActive {
    color: $--color-gainsboro-1;
  }

  svg {
    margin-left: 8px;

    path {
      stroke: $--color-white;
    }
  }

  &:hover {
    color: $--color-light-steel-blue;

    svg {
      path {
        stroke: $--color-light-steel-blue;
      }
    }
  }
}
